@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
    font-family: 'Roboto Slab', serif;
}

html, body {
    height: 100%;
    margin: 0;
    .center-div {
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 300%;
    } 
}


