@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
    font-family: 'Roboto Slab', serif;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}

// this conainer is used to add a trasnparent overlay to body for timer
.container {
    position: absolute;
    top: 0px;
}

//timer
.timerDiv {
    height: 90%;
    text-align: center;
    display: none;
    width: 100%;
    .timer {
        display: table-cell;
        vertical-align: middle;
        //timer form
        .customForm {
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }
        .hideCustomForm {
            visibility: hidden;
            height: 0;
            opacity: 0;
            transition: 0.5s;
        }
        #enterTime {
            width: 40%;
            height: 30%;
            display: block;
            margin: 0 auto;
            font-size: 3em;
            text-align: center;
            color: #eceff1;
            background: transparent;
            border: 2px solid #eceff1;
            &:focus {
                border: 3px solid #eceff1;
                outline: 0;
            }
        }
        .timerVal {
            color: #eceff1;
            font-size: 8em;
            display: block;
            padding-bottom: 0;
            width: 40%;
            height: 30%;
            margin: 0 auto;
            transition: 0.5s;
        }
    }
}

.graderDiv {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: none;
    overflow-y: auto;
    .gradeInputDiv {
        background-color: #eceff1;
        width: 40%;
        height: auto;
        max-width: 350px;
        margin: 0 auto;
    }
    .questionFormDiv {
        padding-bottom: 20px;
    }
    .questionForm {
        margin-top: 10%;
        margin-bottom: 5%;
        width: 50%;
        max-width: 200px;
        height: 30px;
        font-size: 1.2em;
        border-radius: 5px;
        padding: 3px;
        background-color: #cfd8dc;
        &:focus {
            outline: 0;
        }
    }
    .calculateButton {
        border: 2px solid #ff4081;
        width: 50%;
        max-width: 200px;
        height: 30px;
        margin: 0 auto;
        padding: 2px;
        background-color: #ff4081;
        color: #fff;
        font-size: 1.2em;
        border-radius: 5px;
    }
    .resultsDiv {
        background-color: #eceff1;
        width: 40%;
        height: auto;
        margin: 0 auto;
        max-width: 350px;
    }
    .gradeTable {
        margin: 0 auto;
        border-collapse: collapse;
        width: 100%;
        th {
            color: #eceff1;
            background-color: #212121;
            padding: 2px;
        }
        tr {
            background-color: #bdbdbd;
            padding: 2px;
            &:nth-child(odd) {
                background-color: #e0e0e0;
            }
            &:hover {
                background-color: #9e9e9e;
            }
        }
    }
    #closeGrader {
        cursor: pointer;
        position: relative;
        top: 4px;
        right: -45%;
        color: #cfd8dc;
    }
}

//sidenav
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
    padding-top: 60px;
    background-color: #eceff1;
    a {
        padding: 15px 15px 8px 15px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        font-weight: 900;
        display: block;
        transition: 0.3s;
        cursor: pointer;
        width: 80%;
        margin-left: 7%;
        border-bottom: 2px solid #cfd8dc;
    }
}

//font awesome
.fa-bars {
    color: #eceff1;
    position: absolute;
    right: 2%;
    top: 2%;
}

#clickBars {
    cursor: pointer;
}

#closeNav {
    position: absolute;
    top: 2%;
    right: 77%;
    transition: 0.3s;
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100%;
    transition: 2s;
}

//timerButtons
.timerButtons {
    color: #eceff1;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 20%;
    .timerControls {
        flex: 1;
        border: 1px solid #eceff1;
        border-radius: 10px;
        margin: 4%;
    }
}

//Apps icon
.appsIcon {
    width: 30px;
    height: auto;
    margin: 1%;
}
